<a href="https://colab.research.google.com/github/amltago/project2/blob/main/ProjectB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Marketing Campaign- Financial Institution

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Importing libraries

import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn import set_config
from sklearn.pipeline import make_pipeline
set_config(display='diagram')
from sklearn.compose import make_column_transformer
import matplotlib.pyplot as plt
import statistics
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import plot_confusion_matrix
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector
from sklearn.cluster import KMeans
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN
from sklearn.metrics import silhouette_score
import seaborn as sns
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import silhouette_score, classification_report, confusion_matrix

In [3]:
bank = '/content/drive/MyDrive/Coding Dojo/Files/bank.csv'
df = pd.read_csv(bank)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [5]:
# Checking duplicates

df.duplicated().sum()
print("Duplicates", (df.duplicated().sum()))

Duplicates 0

In [6]:
#Checking for null values

df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [7]:
# Checking for inconsistencies

# Get column names
column_names = df.columns

# Iterate each column
for columns in column_names:
    print(columns,df[columns].unique())

age [59 56 41 55 54 42 60 37 28 38 30 29 46 31 35 32 49 43 26 40 33 23 48 45
 36 52 53 39 57 51 44 24 50 27 34 47 25 58 61 68 75 22 69 66 85 72 90 67
 71 21 74 65 62 83 70 76 77 19 73 63 20 78 95 64 79 82 18 86 84 87 92 81
 80 93 88 89]
job ['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
marital ['married' 'single' 'divorced']
education ['secondary' 'tertiary' 'primary' 'unknown']
default ['no' 'yes']
balance [2343   45 1270 ... 1594 2593 -134]
housing ['yes' 'no']
loan ['no' 'yes']
contact ['unknown' 'cellular' 'telephone']
day [ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24  1 10 22 25 31]
month ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
duration [1042 1467 1389 ... 1504  818 1812]
campaign [ 1  2  3  4  6  5  8 11  9 10 15 12 14  7 24 13 17 29 21 20 16 32 19 25
 22 43 18 41 63 27 30 26 23 28 33 31]
pdays [ -1 166  91 147 170 150 171 126 182 110 198 174 175  27 128 100 177 167
 122 183 195 133 178  34  10 163 184 154  99  93   2 242 272  76 160  90
 196 246 238 203 268 189 267  92   9  88  85 210 257 261 270 106 199 112
  41 294 231 239 302 135 307 222 138 323 141 320 264 316 315 256 146 328
  74 148 327 341 145 266 234 345 318 325 274 343 260 305 344 254 180 340
  82 181 278 153   4 349 334 176  87 269  86 169  83  79   6 259  13 161
 350  84  80 164  22 296  66 263 333  17  89  78 286 337 364 188 342 363
 352 295 353 356 288 367 366 359 347 370 284 300 306 361 287 301 355 371
 292 360 358 346 357 368 312 179 329 298 372 374 375 291  95 109  94  98
 186 101 187 321  40  96  21  35  97 285 103 212 293  81  38  28  67  60
 120  55 113  71 119  72  20 391  50 207 105 314 211 140 104  65 395 399
  49 389 386 412  62 229 385 156  63  64  69 394  70 185 102 190 461 116
 422 457 430 192 462 403 191 459 397 197 173 271 428 392 193 474 475 477
 130 283 157 476 131 132 129 134 114 121 107 115  58  57 143 208 335 149
 139  52  75 515 111  56 194 520 213 351 273 162 378 279 200 201 310 275
 127 165 309 313 216 209 282 202 436 433 142 172 281  48 276 297 280 446
 558 616 561 553 555 262 265 384 388 152 390 322 205 326 478 339 155 421
 223 626 426 236 206 348 595 311 648 304 521 369 449 398  53 258 479 237
 425 376 224 227 225 144 586 450 424 776 251 460 683 158 529 377 415 244
 407 458 532 481 445 535 784 491 440 455 277 470   1 435 437 728 414 518
 308 828  31  43 761  29  44 579 466 125 504 427 749 365 769 469 587 792
 854 842 603 444 232 690 137 442 541 550  73 439 420 168 243 387 204 503
 124 290  77  14 221 409 782 332 330 804 551 230 405 319  37 123 417 490
 463 362 805 544 472  33 495 253  36 299 324 235 401 117  68 774 228 317
 255 336 233 486   5 778 771 245  42 338 354 373 772  59 247 331  61 381
 108  15   8 241 136 159 250 217  12 826 594 303 151 404 717 289 252 651
 214  24 701 118]
previous [ 0  1  4  2  3 10  7  9  5 29  6 13 17  8 11 30 22 58 21 14 26 12 19 55
 23 15 20 27 16 41 40 28 18 37]
poutcome ['unknown' 'other' 'failure' 'success']
deposit ['yes' 'no']

## Validating Inconsistencies- Categorical

In [8]:
# Checking for inconsistencies for categorical data

df_cat = df.select_dtypes(include=['object'])

cat_names = df_cat.columns

# Iterate each column

for columns in cat_names:
    print(columns,df[columns].unique())

job ['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
marital ['married' 'single' 'divorced']
education ['secondary' 'tertiary' 'primary' 'unknown']
default ['no' 'yes']
housing ['yes' 'no']
loan ['no' 'yes']
contact ['unknown' 'cellular' 'telephone']
month ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
poutcome ['unknown' 'other' 'failure' 'success']
deposit ['yes' 'no']

In [9]:
# Filtering job to verify unique values

job = df['job'].value_counts()
job

management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: job, dtype: int64

In [10]:
# Filtering marital to verify unique values

status = df['marital'].value_counts()
status

married     6351
single      3518
divorced    1293
Name: marital, dtype: int64

In [11]:
# Filtering education to verify unique values

edu = df['education'].value_counts()
edu

secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: education, dtype: int64

In [12]:
# Filtering contact to verify unique values

con_type = df['contact'].value_counts()
con_type

cellular     8042
unknown      2346
telephone     774
Name: contact, dtype: int64

In [13]:
# Filtering poutcome to verify unique values

p_outcome = df['poutcome'].value_counts()
p_outcome

unknown    8326
failure    1228
success    1071
other       537
Name: poutcome, dtype: int64

### Showing all the unknown entries to verify if it can or can't affect the dataset for presentation and training

### The unknown entries are not entirely significant on each feature

## Validating Inconsistencies- Numerical

In [14]:
# Checking for inconsistencies for numerical data

df_num = df.select_dtypes(include=['int64','float64'])

num_names = df_num.columns

# Iterate each column

for columns in num_names:
    print(columns, df[columns].unique())

age [59 56 41 55 54 42 60 37 28 38 30 29 46 31 35 32 49 43 26 40 33 23 48 45
 36 52 53 39 57 51 44 24 50 27 34 47 25 58 61 68 75 22 69 66 85 72 90 67
 71 21 74 65 62 83 70 76 77 19 73 63 20 78 95 64 79 82 18 86 84 87 92 81
 80 93 88 89]
balance [2343   45 1270 ... 1594 2593 -134]
day [ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24  1 10 22 25 31]
duration [1042 1467 1389 ... 1504  818 1812]
campaign [ 1  2  3  4  6  5  8 11  9 10 15 12 14  7 24 13 17 29 21 20 16 32 19 25
 22 43 18 41 63 27 30 26 23 28 33 31]
pdays [ -1 166  91 147 170 150 171 126 182 110 198 174 175  27 128 100 177 167
 122 183 195 133 178  34  10 163 184 154  99  93   2 242 272  76 160  90
 196 246 238 203 268 189 267  92   9  88  85 210 257 261 270 106 199 112
  41 294 231 239 302 135 307 222 138 323 141 320 264 316 315 256 146 328
  74 148 327 341 145 266 234 345 318 325 274 343 260 305 344 254 180 340
  82 181 278 153   4 349 334 176  87 269  86 169  83  79   6 259  13 161
 350  84  80 164  22 296  66 263 333  17  89  78 286 337 364 188 342 363
 352 295 353 356 288 367 366 359 347 370 284 300 306 361 287 301 355 371
 292 360 358 346 357 368 312 179 329 298 372 374 375 291  95 109  94  98
 186 101 187 321  40  96  21  35  97 285 103 212 293  81  38  28  67  60
 120  55 113  71 119  72  20 391  50 207 105 314 211 140 104  65 395 399
  49 389 386 412  62 229 385 156  63  64  69 394  70 185 102 190 461 116
 422 457 430 192 462 403 191 459 397 197 173 271 428 392 193 474 475 477
 130 283 157 476 131 132 129 134 114 121 107 115  58  57 143 208 335 149
 139  52  75 515 111  56 194 520 213 351 273 162 378 279 200 201 310 275
 127 165 309 313 216 209 282 202 436 433 142 172 281  48 276 297 280 446
 558 616 561 553 555 262 265 384 388 152 390 322 205 326 478 339 155 421
 223 626 426 236 206 348 595 311 648 304 521 369 449 398  53 258 479 237
 425 376 224 227 225 144 586 450 424 776 251 460 683 158 529 377 415 244
 407 458 532 481 445 535 784 491 440 455 277 470   1 435 437 728 414 518
 308 828  31  43 761  29  44 579 466 125 504 427 749 365 769 469 587 792
 854 842 603 444 232 690 137 442 541 550  73 439 420 168 243 387 204 503
 124 290  77  14 221 409 782 332 330 804 551 230 405 319  37 123 417 490
 463 362 805 544 472  33 495 253  36 299 324 235 401 117  68 774 228 317
 255 336 233 486   5 778 771 245  42 338 354 373 772  59 247 331  61 381
 108  15   8 241 136 159 250 217  12 826 594 303 151 404 717 289 252 651
 214  24 701 118]
previous [ 0  1  4  2  3 10  7  9  5 29  6 13 17  8 11 30 22 58 21 14 26 12 19 55
 23 15 20 27 16 41 40 28 18 37]

In [15]:
# Filtering age to verify unique values

age = df['age']
age.value_counts().sort_values(ascending=False)

31    496
32    477
34    466
33    464
35    461
     ...
92      2
93      2
88      2
95      1
89      1
Name: age, Length: 76, dtype: int64

In [16]:
# Checking min and max of age

print("Minimum age in dataset",age.min())
print("Maximum age in dataset",age.max())

Minimum age in dataset 18
Maximum age in dataset 95

In [17]:
# Filtering balance to verify unique values

bal = df['balance']
bal.value_counts().sort_values(ascending=False)

 0        774
 1         39
 3         35
 2         34
 4         29
         ...
 10655      1
 4969       1
 10721      1
 6432       1
-134        1
Name: balance, Length: 3805, dtype: int64

In [18]:
# Checking min and max of balance

print("Minimum balance in dataset",bal.min())
print("Maximum balance in dataset",bal.max())

Minimum balance in dataset -6847
Maximum balance in dataset 81204

In [19]:
# Filtering duration to verify unique values

dur = df['duration']
dur.value_counts().sort_values(ascending=False)

97      39
161     38
158     37
119     37
150     37
        ..
1635     1
1417     1
1469     1
1512     1
1812     1
Name: duration, Length: 1428, dtype: int64

In [20]:
# Checking min and max of balance

print("Minimum balance in dataset",dur.min())
print("Maximum balance in dataset",dur.max())

Minimum balance in dataset 2
Maximum balance in dataset 3881

In [21]:
# Showing statistics of the dataset

df.describe(include='all')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
count,11162.000000,11162,11162,11162,11162,11162.000000,11162,11162,11162,11162.000000,11162,11162.000000,11162.000000,11162.000000,11162.000000,11162,11162
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,management,married,secondary,no,NaN,no,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,2566,6351,5476,10994,NaN,5881,9702,8042,NaN,2824,NaN,NaN,NaN,NaN,8326,5873
mean,41.231948,NaN,NaN,NaN,NaN,1528.538524,NaN,NaN,NaN,15.658036,NaN,371.993818,2.508421,51.330407,0.832557,NaN,NaN
std,11.913369,NaN,NaN,NaN,NaN,3225.413326,NaN,NaN,NaN,8.420740,NaN,347.128386,2.722077,108.758282,2.292007,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-6847.000000,NaN,NaN,NaN,1.000000,NaN,2.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,32.000000,NaN,NaN,NaN,NaN,122.000000,NaN,NaN,NaN,8.000000,NaN,138.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,550.000000,NaN,NaN,NaN,15.000000,NaN,255.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,49.000000,NaN,NaN,NaN,NaN,1708.000000,NaN,NaN,NaN,22.000000,NaN,496.000000,3.000000,20.750000,1.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,81204.000000,NaN,NaN,NaN,31.000000,NaN,3881.000000,63.000000,854.000000,58.000000,NaN,NaN